<p style="color: green"><%= notice %></p>

<%= render @agenda_aluno %>

<div>
  <%= link_to "Edit this agenda aluno", edit_area_aluno_agenda_aluno_path(@agenda_aluno) %> |
  <%= link_to "Back to agenda area_aluno", area_aluno_agenda_alunos_path %>

  <%= button_to "Destroy this agenda aluno", @agenda_aluno, method: :delete %>
</div>
