<tr>
  <td>
    <%= aluno.id %>
  </td>
  <td>
    <%= aluno.nome&.upcase %>
  </td>
  <td>
    <%= aluno.cpf %>
  </td>
  <td>
    <%= aluno&.user&.email %>
  </td>
  <td style="text-align: center">
    <%= link_to "Editar", edit_aluno_path(aluno.id), class: 'btn btn-warning btn-xs' %>
    <%= link_to "Excluir", aluno_path(aluno.id),
                method: :delete, class: 'btn btn-danger btn-xs',
                data: { "turbo-method": :delete, confirm: 'Deseja realmente excluir?' } %>
  </td>
</tr>