<p style="color: green"><%= notice %></p>
<%= form_with(model: @aluno, url: area_aluno_meus_dado_path(id: @aluno.id), method: :put) do |form| %>
  <div class="panel panel-primary">
    <div class="panel-heading">Meus Dados
    </div>
    <div class="panel-body">
      <% if @aluno.errors.any? %>
        <div style="color: red">
          <h2>Atenção aos erros abaixo:</h2>

          <ul>
            <% @aluno.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-md-4">
        <%= form.label :contato, style: "display: block" %>
        <%= form.text_field :contato, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :cep, style: "display: block" %>
        <%= form.text_field :cep, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :logradouro, style: "display: block" %>
        <%= form.text_field :logradouro, class: 'form-control' %>
      </div>
      <div class="col-md-6">
        <%= form.label :bairro, style: "display: block" %>
        <%= form.text_field :bairro, class: 'form-control' %>
      </div>
      <div class="col-md-6">
        <%= form.label :municipio_id, style: "display: block" %>
        <%#= h form.text_field :municipio_id, class: 'form-control select2ajaxFull',-->
                           label: 'Município',
                           placeholder: "Digite o Município",
                           data: { url: autocomplete_municipios_path } %>

        <%= form.select :municipio_id, Municipio.eager_load(:estado).collect { |e| ["#{e.nome} (#{e.estado.sigla})", e.id] },
                        { class: 'form-control' }, { style: 'width: 100%' } %>
      </div>

      <div class="col-md-10">
        <%= form.label :escolaridade_id, style: "display: block" %>
        <%= form.select :escolaridade_id, Escolaridade.all.collect { |e| [e.nome, e.id] },
                        { class: 'form-control' }, { style: 'width: 100%' } %>
      </div>

      <div class="col-md-2">
        <%= form.label "Concluída?", style: "display: block" %>
        <%= form.check_box :esc_concluida %>
      </div>
    </div>
    <div class="panel-footer">
      <%= form.submit 'Salvar' %>
      <div class="pull-right">
      </div>
    </div>
  </div>
<% end %>

<script>
    $('#aluno_municipio_id').select2();
    $('#aluno_escolaridade_id').select2();
    $('#aluno_user_id').select2();
</script>
