<tr id="<%= dom_id disciplina %>">
  <td>
    <%= disciplina.id %>
  </td>
  <td>
    <%= disciplina.nome %>
  </td>
  <td style="text-align: center">
    <%= link_to "Editar", edit_disciplina_path(disciplina.id), class: 'btn btn-warning btn-xs' %>
    <%= link_to "Excluir", disciplina_path(disciplina.id),
                method: :delete, class: 'btn btn-danger btn-xs',
                data: { "turbo-method": :delete, confirm: 'Deseja realmente excluir?' } %>
  </td>

</tr>
