<tr>
  <td>
    <%= aluno.id %>
  </td>
  <td>
    <%= aluno.nome&.upcase %>
  </td>
  <td>
    <%= aluno.cpf %>
  </td>
  <td>
    <%= aluno&.user&.email %>
  </td>
  <td style="text-align: center">
    <%= link_to "Editar", edit_aluno_path(aluno.id), class: 'btn btn-warning btn-xs' %>
    <%= button_to "Excluir",
                  aluno_path(aluno.id), method: :delete,
                  class: 'btn btn-danger btn-xs',
                  confirm: 'Deseja realmente excluir?',
                  data: { "turbo-method": :delete, method: :delete, confirm: 'Deseja realmente excluir?' } %>
  </td>
</tr>