<tr id="<%= dom_id escolaridade %>">
  <td>
    <%= escolaridade.id %>
  </td>
  <td>
    <%= escolaridade.nome %>
  </td>
  <td style="text-align: center">
    <%= link_to "Editar", edit_escolaridade_path(escolaridade.id), class: 'btn btn-warning btn-xs' %>
    <%= link_to "Excluir", escolaridade_path(escolaridade.id),
                method: :delete, class: 'btn btn-danger btn-xs',
                data: { "turbo-method": :delete, confirm: 'Deseja realmente excluir?' } %>
  </td>
</tr>


