<p style="color: green"><%= notice %></p>

<%= render @interesse_aluno %>

<div>
  <%= link_to "Edit this interesse aluno", edit_interesse_aluno_path(@interesse_aluno) %> |
  <%= link_to "Back to interesse area_aluno", interesse_alunos_path %>

  <%= button_to "Destroy this interesse aluno", @interesse_aluno, method: :delete %>
</div>
