<%= form_with(model: estado) do |form| %>
  <div class="panel panel-primary">
    <div class="panel-heading" id="title_form">Estado
    </div>
    <div class="panel-body">
      <% if estado.errors.any? %>
        <div style="color: red">
          <h2>Atenção aos erros abaixo:</h2>

          <ul>
            <% estado.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :nome, style: "display: block" %>
        <%= form.text_field :nome %>
      </div>

      <div>
        <%= form.label :sigla, style: "display: block" %>
        <%= form.text_field :sigla %>
      </div>
      <div>
        <%= form.label 'País', style: "display: block" %>
        <%= form.select :pais_id, Pais.all.collect { |e| [e.nome, e.id] }, class: 'form-control'%>
      </div>

    </div>
    <div class="panel-footer">

      <%= form.submit 'Salvar' %>
      <div class="pull-right">
        <%= link_to "Voltar a Lista", estados_path %>
      </div>
    </div>
  </div>

<% end %>
