<ul class="nav navbar-nav side-nav">
  <li class="active">   <%= link_to "Início", principal_index_path %> </li>

  <li>   <%= link_to "Agenda de Alunos", agenda_alunos_path %> </li>

  <li>   <%= link_to "Interesse de Alunos", interesse_alunos_path %> </li>


  <li class="nav-item" title="Cadastros Básicos">
    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Gerenciar</span>
    </a>
    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
      <li>   <%= link_to "Agenda de Professores", agenda_professores_path %> </li>
    </nav>
  </li>

  <li class="nav-item" title="Cadastros Básicos">
    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Cadastros Básicos</span>
    </a>
    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
      <li>   <%= link_to "Alunos", alunos_path %> </li>
      <li>   <%= link_to "Países", paises_path %> </li>
      <li>   <%= link_to "Estados", estados_path %> </li>
      <li>   <%= link_to "Municípios", municipios_path %> </li>
      <li>   <%= link_to "Escolaridade", escolaridades_path %> </li>
      <li>   <%= link_to "Disciplinas", disciplinas_path %> </li>
      <li>   <%= link_to "Áreas", areas_path %> </li>
      <li>   <%= link_to "Professores", professores_path %> </li>
    </nav>
  </li>
</ul>
